In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_rows', 100)

**data import**

In [76]:
evi =  pd.read_csv('evi_summaryeq0.csv')
ndvi =  pd.read_csv('ndvi_summaryeq0.csv')
society = pd.read_excel('지역사회건강요인.xlsb')

In [119]:
#법정동코드
ref_Bcode = pd.read_excel('./DB 시군구 코드 기준_1995_2019.xlsx')
col = list(map(str, ref_Bcode.columns))
col = [c.strip() for c in col]

ref_Bcode.columns = col
ref_Bcode = ref_Bcode.rename(columns={'시도 코드':'sido_CD'})

ref_Bcode.head()

,시도,sido_CD,시군구,기준 코드\n(=2019),2019,2018,2017,2016,2015,2014,...,2003,2002,2001,2000,1999,1998,1997,1996,1995,비고
0,서울특별시,11,종로구,11010,11010,11010,11010,11010,11010,11010,...,11010,11010,11010,11010,11010,11010,11010,11010,11010,NaN
1,서울특별시,11,중구,11020,11020,11020,11020,11020,11020,11020,...,11020,11020,11020,11020,11020,11020,11020,11020,11020,NaN
2,서울특별시,11,용산구,11030,11030,11030,11030,11030,11030,11030,...,11030,11030,11030,11030,11030,11030,11030,11030,11030,NaN
3,서울특별시,11,성동구,11040,11040,11040,11040,11040,11040,11040,...,11040,11040,11040,11040,11040,11040,11040,11040,11040,NaN
4,서울특별시,11,광진구,11050,11050,11050,11050,11050,11050,11050,...,11050,11050,11050,11050,11050,11050,11050,11050,11050,NaN

In [ ]:
ref_Bcode = ref_Bcode[['시도','시군구','2019']]
ref_Bcode['NM'] = ref_Bcode['시도'].str.strip() + ' ' + ref_Bcode['시군구'].str.strip()

**특정 지역 매칭코드**

In [121]:
# 하나씩 탐색
ref_Bcode.loc[ref_Bcode['NM'].str.startswith("경기도 안양시")]

     시도      시군구   2019           NM
83  경기도  안양시 만안구  31041  경기도 안양시 만안구
84  경기도  안양시 동안구  31042  경기도 안양시 동안구

**NAME 수정**

In [122]:
evi.head()

,year,SIGUNGU_CD,SIDO_NM,SIGUNGU_NM,month1,month2,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12,SIGUNGU_NM_new,NAME,from6to9
0,2000,11010,서울특별시,종로구,NaN,660.912206,972.406495,1267.180055,2565.266805,2775.509520,3931.680626,2792.363850,2537.233568,1744.897542,1226.778951,1097.512846,종로구,서울특별시 종로구,3009.196891
1,2000,11020,서울특별시,중구,NaN,597.457935,523.735837,926.007543,1315.420290,1549.399169,NaN,1567.668415,1395.397783,987.166357,684.938424,587.369150,중구,서울특별시 중구,1504.155122
2,2000,11030,서울특별시,용산구,NaN,708.946770,549.234091,830.418915,1026.549107,1354.420748,NaN,1270.221265,1438.377713,1082.770601,758.087243,676.220381,용산구,서울특별시 용산구,1354.339909
3,2000,11040,서울특별시,성동구,NaN,501.189474,423.850910,630.582193,1052.754356,1196.280540,NaN,1316.687220,1250.784106,934.674446,617.065491,476.676863,성동구,서울특별시 성동구,1254.583955
4,2000,11050,서울특별시,광진구,NaN,591.941241,576.194522,660.178642,1701.907855,1459.960147,NaN,1362.892907,1464.783445,1110.814168,759.291082,589.183462,광진구,서울특별시 광진구,1429.212166

In [123]:
evi.SIDO_NM.unique()

array(['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시',
       '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도', '경상남도',
       '제주특별자치도'], dtype=object)

In [124]:
ref_Bcode.시도.unique()

array(['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시',
       '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도',
       '경상남도', '제주특별자치도'], dtype=object)

In [125]:
replace_list = {'서울':'서울특별시', '부산':'부산광역시', '대구':'대구광역시', '인천':'인천광역시', '광주':'광주광역시', '대전':'대전광역시', '울산':'울산광역시',
                '경기':'경기도', '강원':'강원도', '충북':'충청북도', '충남':'충청남도', '전북':'전라북도', '전남':'전라남도', '경북':'경상북도',
                '경남':'경상남도','제주':'제주특별자치도'}

evi['SIDO_NM'] = evi['SIDO_NM'].replace(replace_list)
ndvi['SIDO_NM'] = ndvi['SIDO_NM'].replace(replace_list)

In [126]:
naming = evi['SIGUNGU_NM'].str.partition('시')
naming.loc[naming[1] == '시', 'name'] = naming[0] + naming[1] + " " + naming[2]
naming.loc[naming[1] != '시', 'name'] = naming[0]

naming.tail()

        0  1 2   name
5747  함양군         함양군
5748  거창군         거창군
5749  합천군         합천군
5750   제주  시     제주시
5751  서귀포  시    서귀포시

In [127]:
evi['SIGUNGU_NM_new'] = naming.name
evi[['SIGUNGU_NM',"SIGUNGU_NM_new"]].loc[evi['SIGUNGU_NM_new'].str.startswith('수원시')].head()

    SIGUNGU_NM SIGUNGU_NM_new
73      수원시장안구        수원시 장안구
74      수원시권선구        수원시 권선구
75      수원시팔달구        수원시 팔달구
76      수원시영통구        수원시 영통구
324     수원시장안구        수원시 장안구

In [128]:
naming = ndvi['SIGUNGU_NM'].str.partition('시')
naming.loc[naming[1] == '시', 'name'] = naming[0] + naming[1] + " " + naming[2]
naming.loc[naming[1] != '시', 'name'] = naming[0]

ndvi['SIGUNGU_NM_new'] = naming.name
ndvi[['SIGUNGU_NM',"SIGUNGU_NM_new"]].loc[ndvi['SIGUNGU_NM_new'].str.startswith('수원시')].head()

    SIGUNGU_NM SIGUNGU_NM_new
73      수원시장안구        수원시 장안구
74      수원시권선구        수원시 권선구
75      수원시팔달구        수원시 팔달구
76      수원시영통구        수원시 영통구
324     수원시장안구        수원시 장안구

In [129]:
evi['NAME'] = evi['SIDO_NM'] + " " + evi['SIGUNGU_NM_new']
ndvi['NAME'] = ndvi['SIDO_NM'] + " " + ndvi['SIGUNGU_NM_new'] + "구"

### **EVI**

**6월부터 9월까지의 평균 계산**

In [130]:
month_list = [c for c in evi.columns if c.startswith('month') ]
total_list = ['year'] + ['NAME'] + month_list

# 6월에서 9월까지의 평균 계산
evi['from6to9'] = evi.loc[:,'month6':'month9'].apply(np.mean, axis=1)

In [ ]:
group_evi = evi[['year','NAME','from6to9']].groupby(['year','NAME'], dropna=True).agg(['mean', 'min', 'max'])

# Rename the columns 
new_col = []

for c in group_evi.columns.levels[0]:
    for stat in group_evi.columns.levels[1]:
        new_col.append(f'{c}_{stat}')
        
group_evi.columns = new_col
group_evi = group_evi.reset_index(drop=False)

In [132]:
#group_evi.loc[group_evi['from6to9_mean'].isnull()][['year','NAME']]

group_evi_remove2022 = group_evi.loc[group_evi['year'] != 2022]

In [133]:
group_evi_remove2022.to_excel('시군구별_EVI.xlsx', index=False, header=True, encoding='euc-kr')

법정동코드 merge

In [134]:
group_evi = pd.read_excel('시군구별_EVI.xlsx')

group_evi['year'].unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021],
      dtype=int64)

In [135]:
ref_Bcode.head()

      시도  시군구   2019         NM
0  서울특별시  종로구  11010  서울특별시 종로구
1  서울특별시   중구  11020   서울특별시 중구
2  서울특별시  용산구  11030  서울특별시 용산구
3  서울특별시  성동구  11040  서울특별시 성동구
4  서울특별시  광진구  11050  서울특별시 광진구

In [136]:
code = ref_Bcode[['NM','2019']].astype(str).rename(columns= {'NM':'Name', '2019':'법정동코드'})

code.head()

        Name  법정동코드
0  서울특별시 종로구  11010
1   서울특별시 중구  11020
2  서울특별시 용산구  11030
3  서울특별시 성동구  11040
4  서울특별시 광진구  11050

In [137]:
# 시흥시만 수정
group_evi.loc[group_evi['NAME'] == '경기도 시 흥시', "NAME"] = '경기도 시흥시'

group_evi['NAME'] = group_evi['NAME'].str.strip()
code['Name'] = code['Name'].str.strip()

In [138]:
mapping_evi = group_evi.merge(code[['Name','법정동코드']], left_on='NAME', right_on='Name', how='left')

In [139]:
mapping_evi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5506 entries, 0 to 5505
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           5506 non-null   int64
 1   NAME           5506 non-null   object
 2   from6to9_mean  5479 non-null   float64
 3   from6to9_min   5479 non-null   float64
 4   from6to9_max   5479 non-null   float64
 5   Name           5330 non-null   object
 6   법정동코드          5330 non-null   object
dtypes: float64(3), int64(1), object(3)
memory usage: 344.1+ KB

In [140]:
pd.set_option('display.max_rows', None)

mapping_evi.loc[mapping_evi['Name'].isnull()]['NAME'].unique()

array(['경기도 부천시 소사구', '경기도 부천시 오정구', '경기도 부천시 원미구', '경기도 여주군', '인천광역시 남구',
       '충청남도 당진군', '충청남도 연기군', '충청북도 청원군'], dtype=object)

**특정 지역명 수정**

In [159]:
# 경기도 부천시 소사구~원미구 -> 경기도 부천시
# 경기도 여주군 -> 경기도 여주시 
# 인천광역시 남구 -> 인천광역시 미추홀구
# 충청남도 당진군 -> 충청남도 당진시
# 충청남도 연기군 -> 충청남도 연기시
# 충청북도 청원군 -> 충청북도 청원구

group_evi['new_NAME'] = group_evi['NAME']
group_evi['new_NAME'] = group_evi['new_NAME'].replace({'경기도 부천시 소사구':'경기도 부천시', '경기도 부천시 원미구':'경기도 부천시', '경기도 부천시 오정구':'경기도 부천시',
                                                       '경기도 여주군':'경기도 여주시', '충청남도 당진군':'충청남도 당진시', '인천광역시 남구':'인천광역시 미추홀구', 
                                                       
                                                       '충청남도 연기군':'세종특별자치시 세종시', '충청북도 청원군':'충청북도 청주시 청원구'})

In [203]:
mapping_evi_new = group_evi.merge(code[['Name','법정동코드']], left_on='new_NAME', right_on='Name', how='left')

year              0
NAME              0
from6to9_mean    27
from6to9_min     27
from6to9_max     27
new_NAME          0
Name              0
법정동코드             0
dtype: int64

In [165]:
mapping_evi_new.to_excel('EVI_법정동코드.xlsx',encoding='euc-kr')

행정동코드 merge

In [198]:
#행정동코드
ref_Hcode = pd.read_excel('./jscode20210601/KIKcd_H.20210601.xlsx')
ref_Hcode = ref_Hcode.loc[ref_Hcode['읍면동명'].isnull(), :].reset_index(drop=True)

ref_Hcode.loc[ref_Hcode['시군구명'].notnull(), 'name'] = ref_Hcode['시도명'].str.strip() + ' ' + ref_Hcode['시군구명'].str.strip()
ref_Hcode.loc[ref_Hcode['시군구명'].isnull(), 'name'] = ref_Hcode['시도명'].str.strip()

ref_Hcode['행정동코드'] = ref_Hcode['행정동코드'].astype(str).apply(lambda x: x[:5])
ref_Hcode.head()

   행정동코드    시도명 시군구명 읍면동명      생성일자  말소일자       name
0  11000  서울특별시  NaN  NaN  19880423   NaN      서울특별시
1  11110  서울특별시  종로구  NaN  19880423   NaN  서울특별시 종로구
2  11140  서울특별시   중구  NaN  19880423   NaN   서울특별시 중구
3  11170  서울특별시  용산구  NaN  19880423   NaN  서울특별시 용산구
4  11200  서울특별시  성동구  NaN  19880423   NaN  서울특별시 성동구

In [199]:
# 하나씩 탐색
ref_Hcode.loc[ref_Hcode['name'].str.startswith("경기도")].head()

    행정동코드  시도명     시군구명 읍면동명      생성일자  말소일자         name
86  41000  경기도      NaN  NaN  19880423   NaN          경기도
88  41110  경기도      수원시  NaN  19880423   NaN      경기도 수원시
89  41111  경기도  수원시 장안구  NaN  19880701   NaN  경기도 수원시 장안구
90  41113  경기도  수원시 권선구  NaN  19880701   NaN  경기도 수원시 권선구
91  41115  경기도  수원시 팔달구  NaN  19930115   NaN  경기도 수원시 팔달구

In [200]:
# 세종특별자치시 2개 존재 > 하나 지움
ref_Hcode = ref_Hcode.drop_duplicates(subset='name', keep='first')

In [204]:
# 세종특별자치시 세종시(법정코드) -> 세종특별자치시(행정코드)
mapping_evi_new['new_NAME'] = mapping_evi_new['new_NAME'].replace({'세종특별자치시 세종시':'세종특별자치시'})

In [205]:
total_evi = mapping_evi_new.drop(columns=['NAME','Name']).merge(ref_Hcode[['name','행정동코드']], left_on='new_NAME', right_on='name', how='left')

total_evi.isnull().sum()

year              0
from6to9_mean    27
from6to9_min     27
from6to9_max     27
new_NAME          0
법정동코드             0
name              0
행정동코드             0
dtype: int64

In [206]:
total_evi.loc[total_evi['from6to9_mean'].isnull()].head() # 6-9월 사이 값이 없는 지역은 NULL로 표기되었음.

,year,from6to9_mean,from6to9_min,from6to9_max,new_NAME,법정동코드,name,행정동코드
389,2001,NaN,NaN,NaN,부산광역시 영도구,21040,부산광역시 영도구,26200
640,2002,NaN,NaN,NaN,부산광역시 영도구,21040,부산광역시 영도구,26200
890,2003,NaN,NaN,NaN,부산광역시 영도구,21040,부산광역시 영도구,26200
1392,2005,NaN,NaN,NaN,부산광역시 영도구,21040,부산광역시 영도구,26200
1393,2005,NaN,NaN,NaN,부산광역시 중구,21010,부산광역시 중구,26110

In [209]:
total_evi.to_excel('EVI_연도별_시군구별(6-9월).xlsx',index=False, header=True)

In [212]:
total_evi.loc[total_evi['행정동코드'] != total_evi['법정동코드']].shape

(5506, 8)