In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_rows', 30)

### **Merge with SES factors**

In [2]:
sc2015 = pd.read_excel('지역사회_필요변수만_연도별정리.xlsx', sheet_name='2015')
sc2016 = pd.read_excel('지역사회_필요변수만_연도별정리.xlsx', sheet_name='2016')
sc2017 = pd.read_excel('지역사회_필요변수만_연도별정리.xlsx', sheet_name='2017')
sc2018 = pd.read_excel('지역사회_필요변수만_연도별정리.xlsx', sheet_name='2018')
sc2019 = pd.read_excel('지역사회_필요변수만_연도별정리.xlsx', sheet_name='2019')

In [3]:
sc_clist = sc2015.columns.to_list()

변수 선택

변수명 변경

In [4]:
nc_list = []

for c in sc2015.columns:
    
    if c in ['번호','코드','시도','시군구','지역','CHS_No']:
        nc_list.append(c)
    else:
        nc = f'2015_{c}'
        nc_list.append(nc)
        
sc2015.columns = nc_list

sc2015.loc[sc2015['시도'] != sc2015['시군구'], '지역'] = sc2015['시도'].str.strip() + ' ' + sc2015['시군구'].str.strip()
sc2015 = sc2015.rename(columns={'코드':'Hcode_soc','지역':'Name_soc'}).drop(columns=['시도','시군구','번호']).reset_index(drop=True)

In [5]:
nc_list = []

for c in sc2016.columns:
    
    if c in ['번호','코드','시도','시군구','지역','CHS_No']:
        nc_list.append(c)
    else:
        nc = f'2016_{c}'
        nc_list.append(nc)
        
sc2016.columns = nc_list

sc2016.loc[sc2016['시도'] != sc2016['시군구'], '지역'] = sc2016['시도'].str.strip() + ' ' + sc2016['시군구'].str.strip()
sc2016 = sc2016.rename(columns={'코드':'Hcode_soc','지역':'Name_soc'}).drop(columns=['시도','시군구','번호']).reset_index(drop=True)

In [6]:
nc_list = []

for c in sc2017.columns:
    
    if c in ['번호','코드','시도','시군구','지역','CHS_No']:
        nc_list.append(c)
    else:
        nc = f'2017_{c}'
        nc_list.append(nc)
        
sc2017.columns = nc_list

sc2017.loc[sc2017['시도'] != sc2017['시군구'], '지역'] = sc2017['시도'].str.strip() + ' ' + sc2017['시군구'].str.strip()
sc2017 = sc2017.rename(columns={'코드':'Hcode_soc','지역':'Name_soc'}).drop(columns=['시도','시군구','번호']).reset_index(drop=True)

In [7]:
nc_list = []

for c in sc2018.columns:
    
    if c in ['번호','코드','시도','시군구','지역','CHS_No']:
        nc_list.append(c)
    else:
        nc = f'2018_{c}'
        nc_list.append(nc)
        
sc2018.columns = nc_list

sc2018.loc[sc2018['시도'] != sc2018['시군구'], '지역'] = sc2018['시도'].str.strip() + ' ' + sc2018['시군구'].str.strip()
sc2018 = sc2018.rename(columns={'코드':'Hcode_soc','지역':'Name_soc'}).drop(columns=['시도','시군구','번호']).reset_index(drop=True)

In [8]:
nc_list = []

for c in sc2019.columns:
    
    if c in ['번호','코드','시도','시군구','지역','CHS_No']:
        nc_list.append(c)
    else:
        nc = f'2019_{c}'
        nc_list.append(nc)
        
sc2019.columns = nc_list

sc2019.loc[sc2019['시도'] != sc2019['시군구'], '지역'] = sc2019['시도'].str.strip() + ' ' + sc2019['시군구'].str.strip()
sc2019 = sc2019.rename(columns={'코드':'Hcode_soc','지역':'Name_soc'}).drop(columns=['시도','시군구','번호']).reset_index(drop=True)

**연도별 data merge**

In [9]:
pd.set_option('display.max_rows', 30)
pd.DataFrame({'name': sc2015.groupby('Name_soc')['CHS_No'].count().index, 'count':sc2015.groupby('Name_soc')['CHS_No'].count().to_list()})
# >> match 1 region : 1 CHS_No

               name  count
0               강원도      1
1           강원도 강릉시      1
2           강원도 고성군      1
3           강원도 동해시      1
4           강원도 삼척시      1
..              ...    ...
289      충청북도 통합청주시      1
290  충청북도 통합청주시 상당구      1
291  충청북도 통합청주시 서원구      1
292  충청북도 통합청주시 청원구      1
293  충청북도 통합청주시 흥덕구      1

[294 rows x 2 columns]

In [ ]:
total_soc = pd.DataFrame()
total_soc = sc2015.merge(sc2016.drop(columns=['Name_soc','CHS_No']), on='Hcode_soc', how='outer')
total_soc = total_soc.merge(sc2017.drop(columns=['Name_soc','CHS_No']), on='Hcode_soc', how='outer')
total_soc = total_soc.merge(sc2018.drop(columns=['Name_soc','CHS_No']), on='Hcode_soc', how='outer')
total_soc = total_soc.merge(sc2019.drop(columns=['Name_soc','CHS_No']), on='Hcode_soc', how='outer')

total_soc.columns

In [11]:
total_soc.to_excel('지역사회_건강결과및건강결정요인_연도별_merge.xlsx', index=False, header=True, encoding='euc-kr')

### **interpolation/extrapolation**

In [12]:
total_soc = pd.read_excel('지역사회_건강결과및건강결정요인_연도별_merge.xlsx')
total_soc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2816 entries, 0 to 2815
Columns: 693 entries, Hcode_soc to 2019_기준시간내의료이용률_분만실
dtypes: float64(688), int64(1), object(4)
memory usage: 14.9+ MB

In [ ]:
pd.set_option('display.max_rows', 30)
total_soc.isnull().sum()

In [ ]:
# for test:interpolation and extrapolation
v = sc_clist[-1]

obj = total_soc[[c for c in total_soc.columns if c.endswith(v)]]
for k in range(obj.shape[0]):
    if obj.iloc[k].isnull().all():
        pass
        
    else:
        total_soc.loc[k, [c for c in total_soc.columns if c.endswith(v)]] = obj.iloc[k].interpolate(method='linear', limit_area=None, limit_direction='both')
        
total_soc[[c for c in total_soc.columns if c.endswith(v)]]

In [15]:
for v in sc_clist[6:]:
    obj = total_soc[[c for c in total_soc.columns if c.endswith(v)]]
    
    for k in range(obj.shape[0]):
        if obj.iloc[k].isnull().all(): # 모두 NaN이면 그대로 nan으로 둠
            pass
        
        else:
            # interpolation은 앞뒤 데이터로 linear하게 내삽, extrapolation은 근처 데이터로 외삽
            total_soc.loc[k, [c for c in total_soc.columns if c.endswith(v)]] = obj.iloc[k].interpolate(method='linear', limit_area=None, limit_direction='both')

In [16]:
total_soc.to_excel('Fin_interpolated_society_variable.xlsx', index=False, header=True, encoding='euc-kr')

### **Merge with exposure variables**

In [17]:
exp = pd.read_excel('Fin_imputed_vegetation_airpollution.xlsx')
soc = pd.read_excel('Fin_interpolated_society_variable.xlsx')

전국, 시단위 제외

In [18]:
si = ['전국', '서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시',
      '울산광역시', '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도',
      '전라남도', '경상북도', '경상남도', '제주특별자치도']

soc = soc.loc[soc['Name_soc'].apply(lambda x: x not in si)].reset_index(drop=True)

In [ ]:
total_df = exp.merge(soc, left_on='행정동코드', right_on='Hcode_soc', how='outer')
total_df.isnull().sum()

In [20]:
total_df[total_df['행정동코드'].isnull()][['행정동코드','Hcode_soc','Name_soc','법정동=행정동이름','법정동코드']]

      행정동코드  Hcode_soc     Name_soc 법정동=행정동이름  법정동코드
2793    NaN    23030.0     인천광역시 남구       NaN    NaN
2794    NaN    31051.0  경기도 부천시 원미구       NaN    NaN
2795    NaN    31052.0  경기도 부천시 소사구       NaN    NaN
2796    NaN    31053.0  경기도 부천시 오정구       NaN    NaN
2797    NaN    38010.0     경상남도 창원시       NaN    NaN
2798    NaN    38020.0     경상남도 마산시       NaN    NaN
2799    NaN    38040.0     경상남도 진해시       NaN    NaN

특정 지역명 수정

In [21]:
# 인천광역시 남구 -> 인천광역시 미추홀구로 지역명, 행정동코드 변경
# 경상남도 창원시, 마산시, 진해시 -> 경상남도 마산시, 진해시 drop
# 경기도 부천시 원미구~오정구 <- 경기도 부천시로 통합됐으니 drop

In [22]:
soc['Name_soc'].replace({'인천광역시 남구':'인천광역시 미추홀구'}, inplace=True)
soc['Hcode_soc'].replace({23030.0:23090}, inplace=True)
soc = soc[soc['Name_soc'].apply(lambda x: x not in ['경상남도 마산시','경상남도 진해시'])]
soc = soc[soc['Name_soc'].apply(lambda x: x not in ['경기도 부천시 원미구','경기도 부천시 소사구','경기도 부천시 오정구'])]

In [ ]:
# 충청북도 통합청주시 서원구 <- 흥덕구가 2013년 서원구와 흥덕구로 분할되어 서원구 nan은 흥덕구로 채우기
soc[soc['Name_soc'].str.startswith('충청북도 통합청주시')]

In [24]:
total_df = exp.merge(soc, left_on='행정동코드', right_on='Hcode_soc', how='outer')
total_df.isnull().sum()
total_df[total_df['Hcode_VEG'].isnull()][['행정동코드','Hcode_soc','Name_soc','법정동=행정동이름','법정동코드']]

        행정동코드  Hcode_soc    Name_soc 법정동=행정동이름    법정동코드
19    31100.0    31100.0     경기도 고양시   경기도 고양시  41280.0
34    31020.0    31020.0     경기도 성남시   경기도 성남시  41130.0
38    31010.0    31010.0     경기도 수원시   경기도 수원시  41110.0
44    31090.0    31090.0     경기도 안산시   경기도 안산시  41270.0
48    31040.0    31040.0     경기도 안양시   경기도 안양시  41170.0
56    31190.0    31190.0     경기도 용인시   경기도 용인시  41460.0
322   38110.0    38110.0  경상남도 통합창원시  경상남도 창원시  48120.0
597   37010.0    37010.0    경상북도 포항시  경상북도 포항시  47110.0
708   35010.0    35010.0    전라북도 전주시  전라북도 전주시  45110.0
2772  34010.0    34010.0    충청남도 천안시  충청남도 천안시  44130.0
2793      NaN    38010.0    경상남도 창원시       NaN      NaN

In [25]:
total_df.to_excel('Fin_Total_data_merged_from_exp,soc.xlsx', index=False, header=True, encoding='euc-kr')

In [26]:
total_df_new =  total_df.drop_duplicates(subset='CHS_No')
total_df_new.to_excel('Fin정리_Total_data_merged_from_exp,soc.xlsx', index=False, header=True, encoding='euc-kr')